html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="./style.css")
        title Title
    body
        h1 Template title
        h2 Template subtitle
        p Some text here...
        script(src="./main.js")
